# Dependencies
node_modules
npm-debug.log*

# Next.js build output
.next
out

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.eslintcache

# Testing
coverage
.nyc_output

# Misc
*.tgz
*.tar.gz